*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    max-width: 100%;
    width: 100%;
    overflow: hidden;
} */

.banner{
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 83vh;
    display: flex;
    align-items: center;
}

.banner__title{
    color: #FFFFFF;
    font-family: "haboro-soft", Sans-serif;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.1em;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    padding: 0% 10% 0% 10%;
    text-align: center;
    margin: 0 auto;
}

.banner__link{
    display: none;
}

.benefits, .aside{
    max-width: 1180px;
    width: 100%;
    padding: 70px 20px;
    margin: 0 auto;
}

.benefits__title, .aside__title{
    margin-bottom: 40px;
}

.benefits__title h2{
    font-weight: 400;
}

.benefits__title h2, .aside__title h2{
    color: #54595f;
    font-family: "haboro-soft", Sans-serif;
    font-size: 1.625rem;;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.625em;
    text-align: center;
}

.benefits__cards{
    display: flex;
}

.benefits__card{
    max-width: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__card img{
    max-width: 81px;
    width: 100%;
    margin-bottom: 20px;
}

.benefits__card h3{
    color: #54595f;
    font-size: 1rem;
    font-weight: 700;
    font-family: "haboro-soft", Sans-serif;
    text-align: center;
}

.article__row{
    display: flex;
    min-height: 550px;
}

.article__row--one{
    background-color: #f8efef;
}

.article__row--second{
    background-color: #F1ECEF;
}

.article__content{
    padding: 70px;
}

.article__list{
    padding: 0 0 0 40px;
}

.article__content p, .article__item, .aside__footer p, .footer__nav a, .footer__copyr p{
    font-family: "haboro-soft", Sans-serif;
    color: #54595f;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    line-height: 1.8em;
}

.article__content p{
    margin-bottom: 32px;
}

.article__link{
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    transition: all .3s;
    background-color: #fff;
    border: 1px solid #54595f;
    border-radius: 8px 8px 8px 8px;
    text-decoration: none;
    font-family: "haboro-soft", Sans-serif;
    color: #54595f;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    line-height: 1.8em;
}

.article__link--inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__link--text{
    margin-right: 17px;
}

.article__link:hover{
    transform: scale(1.2);
}

.article__row > div{
    max-width: 50%;
    width: 100%;
}

.article__img{
    position: relative;
}

.article__img img{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside__title h2{
    font-weight: 700;
}

.aside__cards{
    display: flex;
    margin-bottom: 40px;
}

.aside__card{
    max-width: calc(100%/3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__card--size{
    margin-bottom: 20px;
}

.aside__card--size img{
    max-width: 60px;
    width: 100%;
}

.aside__card--img img{
    max-width: 300px;
    width: 100%;
}

.aside__footer{
    padding: 0 10px;
}

.aside__footer p{
    margin: 0% 10% 0% 10%;
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #54595f;
}

.footer__colms, .footer__container{
    display: flex;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.footer__colms{
    padding: 50px 20px;
}

.footer__colm{
    max-width: 25%;
    width: 100%;
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: column;
}

.footer__colm h4{
    color: #FFFFFF;
    font-family: "haboro-soft", Sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__colm  > a{
    font-family: "haboro-soft", Sans-serif;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.8em;
    margin-bottom: 15px;
}

.footer__colm  > a:last-child{
    margin-bottom: 0;
}

.footer__colm--icon{
    display: flex;
    margin-bottom: 40px;
}

.footer__colm--icon a{
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer__colm--icon a:nth-child(1){
    margin-right: 18px;
}

.footer__flags{
    display: flex;
}

.footer__flags > a{
    margin-right: 15px;
}

.footer__flags a:last-child{
    margin-right: 0;
}

.footer__flags > a img{
    max-width: 16px;
    width: 100%;
}

.footer__rows{
    background-color: #fff;
}

.footer__container {
    min-height: 75px;
    padding: 0 20px;
}

.footer__container > div{
    max-width: 50%;
    width: 100%;
}

.footer__copyr, .footer__nav{
    display: flex;
    align-items: center;
}

.footer__nav a{
    max-width: 25%;
    width: 100%;
    text-decoration: none;
    text-align: center;
}




/********************************************************
**************************SLIDER*************************
********************************************************/

.gallery {
    padding: 80px 70px 70px 70px;
    font-family: "Proxima Nova", sans-serif;
    background-color: #f8efef;
}

.gallery_body {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    
}

  .gallery_body .slick-dots li {
    height: 6px;
    width: 6px;
    margin: 0 6px;
    border-radius: 50%;
  }
  .gallery_body .slick-dots li button {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .gallery_body .slick-dots li button:before {
    content: " ";
    background: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
  }
  .gallery_card {
    max-width: 20%;
    width: 100%;
    margin-right: 10px;
    perspective: 700px;
    transform-style: preserve-3d;
  }
  /* .gallery_card:nth-of-type(2n) {
    padding-top: 15px;
  } */
  .gallery_card-elem {
    width: 100%;
    height: 215px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.gallery_card--left{
    transform: translate3d(0px, 0px, -53.206px) rotateY(21.6032deg);
}

.gallery_card--right{
    transform: translate3d(0px, 0px, -53.206px) rotateY(-21.6032deg);
}

.gallery_card--play{
max-width: 100px;
width: 100%;
max-height: 100px;
height: 100%;
}

.gallery_card--play img{
max-width: 100%;
width: 100%;
opacity: 0.7;
}

.gallery_card-elem:hover > .gallery_card-popup {
display: block;
}

  /* .gallery_card-elem:nth-of-type(1) {
    margin-bottom: 15px;
  } */
  
  .g_wrapp_popup {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    cursor: pointer;
  }

  .g_wrapp_popup .closed_popup {
    /* position: absolute; */
    /* max-width: 20px;
    width: 100%;
    height: 20px;
    top: calc(50% - 360px);
    left: calc(50% + 520px);
    transform: translate(-50%, -50%);
    z-index: 11; */
  }

  .g_wrapp_popup .closed_popup a {
    /* color: #DCDCDC; */
  }

  .g_wrapp_popup .closed_popup a:hover {
    width: 100%;
    height: 100%;
    color: #E8E8E8;
    display: inline-block;
    position: relative;
  }

  .g_wrapp_popup .closed_popup a::after {
    /* content: "╳";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .g_popup {
    width: 100%;
    height: 100%;
  }

  .g_popup__wrappVideo {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .g_popup__wrappVideo > div {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .g_popup__wrappVideo > div img {
    max-width: 950px;
    width: 100%;
  }

  .g_popup .slick-prev, .g_popup .slick-next {
    z-index: 2;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    width: 95px;
    padding: 0px 35px;
    opacity: 0;
    transition:  .3s linear 3s;
  }

  .g_popup .slick-prev {
    margin-left: -42%;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .g_popup .slick-next {
    margin-left: 42%;
  }

  /* .g_popup .slick-prev.slick-disabled:before, .g_popup .slick-prev::before {
    color: #BEBEBE;
    content: "◄";
    font-size: 40px;
    opacity: 0.8;
  }

  .g_popup .slick-next::before, .g_popup .slick-next.slick-disabled:before {
    color: #BEBEBE;
    content: "►";
    font-size: 40px;
    opacity: 0.8;
  } */
  
  .g_popup .slick-track, .g_popup .slick-list {
    height: 100%;
    width: 100%;
  }
  
  .g_popup-hidden {
    opacity: 0;
    z-index: -999;
  }

  .gallery_body .slick-prev:before, .gallery_body .slick-next:before{
    content: "";
  }

  .gallery_body .slick-prev, .gallery_body .slick-next{
    width: 20px;
    height: 20px;
    border-top: 5px solid rgba(255, 255, 255, 0.8);
    border-right: 5px solid rgba(255, 255, 255, 0.8);
    font-size: 15px;
  }

  .gallery_body .slick-prev{
    transform: rotate(-135deg);
    
  }

  .gallery_body .slick-next{
    transform: rotate(45deg);
  }

  .g_popup__header{
    position: absolute;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 15px 20px;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  .g_popup__tools{
      display: flex;
  }

  .g_popup__tools a{
      font-size: 24px;
      display: inline-block;
      padding: 5px;
      margin: 7px;
      color:rgba(255, 255, 255, 0.8);
  }

  .g_popup__tools a:hover{
    color:rgba(255, 255, 255, 1);
  }

  .g_popup__numbering{
    font-size: 15px;
    color: rgba(238, 238, 238, 0.9);
  }

  .g_popup__tools--hidden{
      opacity: 0;
      transition:  .3s linear 3s;
  }

  .g_wrapp_popup:hover .g_popup__tools--hidden{
    opacity: 1;
    transition:  .3s linear;
  }

  .g_wrapp_popup:hover .g_popup .slick-prev, .g_wrapp_popup:hover .g_popup .slick-next{
    opacity: 1;
    transition:  .3s linear;
  }

.g_popup__wrappVideo--video{
    max-width: 75%;
    width: 100%;
    height: 75%;
}


@media(max-width: 1400px){
    .banner {
        min-height: 48vh;
    }

    .banner__title {
        font-size: 4.3rem;
    }

    .benefits, .aside {
        padding: 70px 10px 50px 10px;
    }

    .article__row > div {
        height: 73vh;
    }

    .benefits, .aside {
        padding: 70px 10px 95px 10px;
    }
}

@media (max-width: 800px){
    .banner {
        min-height: 55vh;
        flex-direction: column;
        justify-content: center;
    }

    .banner__title {
        font-size: 2.3rem;
        margin: 0 auto 29px;
    }

    .benefits, .aside {
        padding: 20% 7% 20% 7%;
    }

    .benefits__title{
        margin-bottom: 15%;
    }

    .banner__link{
        display: block;
    }

    .benefits__cards {
        flex-direction: column;
        align-items: center;
    }

    .benefits__card{
        margin-bottom: 12%;
        max-width: 100%;
    }

    .benefits__card:last-child{
        margin-bottom: 0;
    }

    .article__row {
        flex-direction: column;
    }

    .article__row > div {
        max-width: 100%;
        min-height: 50vh;
        height: auto;
    }

    .article__row--one .article__content{
        order: 2;
    }

    .article__content{
        padding: 20% 7% 20% 7%;
    }

    .article__link{
        margin: 0 auto;
        display: block;
        max-width: max-content;
    }

    .benefits, .aside {
        padding: 15% 4% 20% 4%;
    }

    .aside__cards {
        margin-bottom: 10%;
        flex-direction: column;
        align-items: center;
    }

    .aside__card{
        max-width: 100%;
        margin-bottom: 15%;
    }

    .aside__card:last-child{
        margin-bottom: 0;
    }

    .aside__card--img img {
        max-width: 270px;
    }

    .aside__card--size {
        margin-bottom: 10px;
    }

    .aside__footer p {
        margin: 0% 0% 0% 0%;
    }

    .aside__title{
        margin-bottom: 10%;
    }

    .footer__colms {
        padding: 20% 7% 20% 7%;
        flex-direction: column;
    }

    .footer__colm {
        max-width: 100%;
        padding: 0;
        margin-bottom: 8%;
    }

    .footer__colm:last-child{
        margin-bottom: 0;
    }

    .footer__container {
        min-height: 75px;
        padding: 5% 0px;
        flex-direction: column;
        align-items: center;
    }

    .footer__container > div {
        max-width: 100%;
    }

    .footer__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__nav a{
        display: block;
        margin: 0 auto;
    }

    .footer__copyr p{
        margin: 0 auto 5%;
    }
}

@media (max-width: 450px){
    .banner__title {
        padding: 0% 4% 0% 4%;
    }
}
